<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <ion-item id="calendar" class="classpicker">
    <ion-label>Monthly Edition</ion-label>
    <ion-datetime #dateTime display-format="MMMM" animated="true"></ion-datetime>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning" (click)="fabFeedback()">
        <ion-icon name="bug"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="fabCalendar()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>  
  </ion-fab>
</ion-content>
