<ion-header>
  <ion-toolbar>
    <ion-title class="heading">
      Amaze
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  
<!-- Item with badge on left and right -->
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let newsletter of newsletters?.slice().reverse()" col-6 no-padding fixed>
          <ion-card>
              <!-- <img [src]="newsletter.image"/>  -->
              <ion-badge class="badge" slot="start" color="danger">{{newsletter.badge}}</ion-badge>
              <img src="{{newsletter.image}}"/> 
              
              <ion-card-content class="fixline" (click)="openNewsletter(newsletter.pdfUrl)">
                <ion-card-title class="title">
                  {{newsletter.title}}
                </ion-card-title>
                <p class="description">{{newsletter.description}}</p> 
              </ion-card-content>
              <hr color=#C0C0C0 height="100">
              <ion-row class="ion-row">
                  <ion-col size="6">
                    <button ion-button icon-start full clear small class="ion-col-like" (click)="updateLike(newsletter.key)">
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div>{{newsletter.likes}} likes</div>
                    </button>
                  </ion-col>
                  <ion-col size="6">
                    <button ion-button icon-start full large class="ion-col-download" (click)="downloadNewsletter(newsletter.pdfUrl)">
                      <ion-icon name="download"></ion-icon>
                      <div>Download</div>
                    </button>
                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" class="fab-icon">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="fabFeedback()">
        <ion-icon name="bug"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>  
  </ion-fab>
</ion-content>
