.classpicker{
    visibility: hidden;
}
.ion-row{
    //margin: 0 17%;
    align-items: center
}
.ion-col{
    background-color: white;
    color:cadetblue;
}
.fixline{
    height: 90px;
    margin-bottom: 7px;
}