<ion-header>
  <ion-toolbar>
    <ion-title>
      Amaze
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
          <ion-card>
              <img src="../../assets/img/amaze_splashscreen.jpg"/>
              <ion-card-content>
                <ion-card-title>
                  Edition 9
                </ion-card-title>
                <p>Highlights: #FillItHalf</p> 
              </ion-card-content>
              <hr color=#ff9872>
              <ion-row class="ion-row">
                <ion-col size="6">
                  <button ion-button icon-start full clear small class="ion-col">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button ion-button icon-start full large class="ion-col">
                    <ion-icon name="download"></ion-icon>
                    <div>Download</div>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card (click)="edition9()">
              <img src="../../assets/img/edition_8.PNG"/>
              <ion-card-content>
                <ion-card-title>
                  Edition 8
                </ion-card-title>
                <p>Highlights: Tech Updates</p> 
              </ion-card-content>
              <hr color=#ff9872>
              <ion-row class="ion-row">
                <ion-col size="6">
                  <button ion-button icon-start full clear small class="ion-col">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>10 Likes</div>
                  </button>
                </ion-col>
                <ion-col size="6" >
                  <button ion-button icon-start full large class="ion-col" (click)="downloadEdition8()">
                    <ion-icon name="download"></ion-icon>
                    <div>Download</div>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-item id="calendar" class="classpicker">
    <ion-label>Monthly Edition</ion-label>
    <ion-datetime #dateTime display-format="MMMM" animated="true"></ion-datetime>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning" (click)="fabFeedback()">
        <ion-icon name="bug"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="fabCalendar()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>  
  </ion-fab>
</ion-content>
