.heading{
    text-align: center;
    color: darkcyan;
}
.ion-row{
    align-items: center;
    display: flex;
    justify-content: space-between;
    column-count: 2;

}
.ion-col-like{
    background-color: white;
    color:darkcyan;
    font-size: 0.75em;
    margin: 0px;
    padding: auto;
    float: left;
}
.ion-col-download{
    background-color: white;
    color:darkcyan;
    font-size: 0.75em;
    margin: 0px;
    padding: auto;
    float: right;
}
.title{
    font-size: 1.1em;
    font-weight: 650; 
    letter-spacing: 0.09ch;
    color: darkcyan;
    //font-family: 'Open Sans Condensed';
}
.description{
    font-size: 0.85em;
}
.fixline{
    margin-bottom: 7px;
}
.badge{
    position: absolute;
}
.fab-icon{
    opacity: 0.5;
}